body {
  background-color: #000;
}

#canvas{
  position: relative;
  top: 10px;
  left: 0px;
  z-index:2;
}

#video{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:3;
}

button {
  position: absolute;
  text-align: center;
  font-size: 20px;
  z-index: 10; /* ボタンをキャンバスの上に配置 */
  padding: 10px 30px 20px 25px;
  background-color:firebrick;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: rgb(128, 24, 24);
}